AI-Meeting-Minutes/Microsoft.Flow/flows/53d182b9-92d3-488b-8979-4ef13d89c609/definition.json
{"name":"61b4f817-2f74-433f-aa07-aa60bf571ffa","id":"/providers/Microsoft.Flow/flows/61b4f817-2f74-433f-aa07-aa60bf571ffa","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"AI Meeting Minutes","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"f09b4662-553a-445e-89ea-16ed78cb7c10","type":"User","tenantId":"fae6d70f-954b-4811-92b6-0530d6f84c43"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-08-21T19:42:12.2242305Z","connectionKeySavedTimeKey":"2025-08-21T19:42:12.2242305Z","creationSource":null},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_item_is_created":{"recurrence":{"frequency":"Minute","interval":1},"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"b1b44e16-9ca5-4a27-9ca8-deecdb9b1ed9"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnNewItems"},"parameters":{"dataset":"https://armyeitaas.sharepoint-mil.us/teams/DASADESDTT","table":"ab741d80-5d0f-444c-a322-11e8107629be"},"authentication":"@parameters('$authentication')"}}},"actions":{"Condition":{"actions":{},"runAfter":{},"else":{"actions":{"Terminate":{"runAfter":{"Send_an_email_from_a_shared_mailbox_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"ffcd3bb1-6db7-41cc-9703-9e2e56276792"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}},"Send_an_email_from_a_shared_mailbox_(V2)":{"runAfter":{},"metadata":{"operationMetadataId":"7d1d7983-0854-4e00-b3f4-64af8baf2823"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"parameters":{"emailMessage/MailboxAddress":"SAMPLE_EMAIL_HERE","emailMessage/To":"@triggerOutputs()?['body/Author/Email']","emailMessage/Subject":" workflow failure","emailMessage/Body":"<p>You did not submit files with the request. Please submit one with files attached</p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@triggerOutputs()?['body/{HasAttachments}']","@true"]},"metadata":{"operationMetadataId":"576a4b92-0f1f-4093-a8fa-33846a11ed13"},"type":"If"},"Get_attachments":{"runAfter":{"Get_item":["Succeeded"]},"metadata":{"operationMetadataId":"b2b68bab-3477-479e-a6c5-9f205719ed8a"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItemAttachments"},"parameters":{"dataset":"https://armyeitaas.sharepoint-mil.us/teams/DASADESDTT","table":"ab741d80-5d0f-444c-a322-11e8107629be","itemId":"@triggerOutputs()?['body/ID']"},"authentication":"@parameters('$authentication')"}},"Get_item":{"runAfter":{"Condition":["Succeeded"]},"metadata":{"operationMetadataId":"951897b6-8d35-40df-8a23-d7903aae8a26"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://armyeitaas.sharepoint-mil.us/teams/DASADESDTT","table":"ab741d80-5d0f-444c-a322-11e8107629be","id":"@triggerOutputs()?['body/ID']"},"authentication":"@parameters('$authentication')"}},"Init_MessageResponse":{"runAfter":{"Initialize_Ending_Tokens":["Succeeded"]},"metadata":{"operationMetadataId":"eafe927e-56b9-43f0-8177-120735100a00"},"type":"InitializeVariable","inputs":{"variables":[{"name":"MessageResponse","type":"string","value":"["}]}},"Init_FileDigestionResults":{"runAfter":{"Init_MessageResponse":["Succeeded"]},"metadata":{"operationMetadataId":"55cb5c53-84e9-4c41-8899-a2a7ac77da96"},"type":"InitializeVariable","inputs":{"variables":[{"name":"FileDigestionResults","type":"string"}]}},"Apply_to_each_2":{"foreach":"@body('Get_attachments')","actions":{"Get_file_content":{"runAfter":{},"metadata":{"operationMetadataId":"a93f69cd-240e-48d1-a35d-cb852775d0eb"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://armyeitaas.sharepoint-mil.us/teams/DASADESDTT","id":"@item()?['Id']","inferContentType":true},"authentication":"@parameters('$authentication')"}},"QueryWithFile":{"runAfter":{"Get_file_content":["Succeeded"]},"metadata":{"operationMetadataId":"5c3613a5-5143-45a8-a843-e279b5d720e1"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_ask-20sage-20server-20api-5f300c65181a94d573-5f492dc771296d907d","connectionName":"shared_ask-20sage-20server-20api-5f300c65181a94d573-5f492dc771296d907d","operationId":"QueryWithFile"},"parameters":{"file/body":"@body('Get_file_content')","file/fileName":"@item()?['DisplayName']","message":"Described the attached file in highly detail that will make the resulting output useful for future prompts","model":"google-gemini-2.5-pro"},"authentication":"@parameters('$authentication')"}},"Append_to_string_variable":{"runAfter":{"Delay":["Succeeded"]},"metadata":{"operationMetadataId":"c59b96fe-c552-40dd-9412-b20985f7a51f"},"type":"AppendToStringVariable","inputs":{"name":"FileDigestionResults","value":"@outputs('QueryWithFile')?['body/message']"}},"Delay":{"runAfter":{"QueryWithFile":["Succeeded"]},"metadata":{"operationMetadataId":"fc317a8c-701d-4097-9faf-c7e710aeceb8"},"type":"Wait","inputs":{"interval":{"count":10,"unit":"Second"}}}},"runAfter":{"For_each":["Succeeded"]},"metadata":{"operationMetadataId":"b97a9025-e90a-419d-8a8b-e78a17b9fe7f"},"type":"Foreach"},"Query_An_Ask_Sage_Model_2":{"runAfter":{"Apply_to_each_2":["Succeeded"]},"metadata":{"operationMetadataId":"ca132533-22e9-464e-a46b-1a915c25c71f"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_ask-20sage-20server-20api-5f300c65181a94d573-5f492dc771296d907d","connectionName":"shared_ask-20sage-20server-20api-5f300c65181a94d573-5f492dc771296d907d","operationId":"QueryAskSage"},"parameters":{"body/message":"\n\nCreate a meeting minute report. \nRole:You are an AI assistant specializing in summarizing professional meetings and generating formal meeting minutes.\nTask:Analyze the provided text from a meeting and create a structured, easy-to-read meeting minutes report. \nInclude timestamps for any assertions or conclusions you draw\nInput: <<< @{variables('FileDigestionResults')}\n>>>","body/system_prompt":"DO NOT DO ANY MERMAID CHARTS\nCreate a meeting minute report with the following format:\nAI Attestation: These meeting minutes were created with the support of generative AI and have undergone human-in-the-loop review to ensure accuracy. Time stamps have been included for validation purposes.\nProcess & Output Format:\nExtract Key Information:\nMeeting Title:\nDate:\nAttendees: a list of attendees of the meeting group by organization if possible. \nWrite a Purpose/Background Summary: Provide a brief, 2-3 sentence overview of the meeting's purpose as described in the text. \nIdentify and Summarize Discussion Topics:\nThis is the most critical part. Scan the document to identify the distinct topics or presentations that were discussed. These may be indicated by headings or new speakers.\nFor each distinct topic you identify, create a new section with a clear heading for that topic.\nUnder each topic heading, write a concise summary of the key information, discussions, and conclusions related to that topic.\nCapture Administrative/Closing Remarks: Include any details about future meetings, action items, or contact information mentioned at the end of the meeting.","body/dataset":"none","body/model":"google-gemini-2.5-pro"},"authentication":"@parameters('$authentication')"}},"Create_a_Microsoft_Word_document_with_the_given_content":{"runAfter":{"For_each_1":["Succeeded"]},"metadata":{"operationMetadataId":"92ac4f03-e970-4892-b6ac-c76c6813a83a"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_wordonlinebusiness","connectionName":"shared_wordonlinebusiness","operationId":"CreateWordFileWithContent"},"parameters":{"content/content":"@outputs('Query_An_Ask_Sage_Model_2')?['body/message']","fileName":"@triggerOutputs()?['body/Title']"},"authentication":"@parameters('$authentication')"}},"Update_item_3":{"runAfter":{"Send_an_email_from_a_shared_mailbox_(V2)_2":["Succeeded"]},"metadata":{"operationMetadataId":"171663a7-3b8c-4534-b399-690e2d784b2a"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://armyeitaas.sharepoint-mil.us/teams/DASADESDTT","table":"ab741d80-5d0f-444c-a322-11e8107629be","id":"@triggerOutputs()?['body/ID']","item/TokensUsed":"@sub(variables('EndingToken'),variables('StartingToken'))"},"authentication":"@parameters('$authentication')"}},"Send_an_email_from_a_shared_mailbox_(V2)_2":{"runAfter":{"Create_a_Microsoft_Word_document_with_the_given_content":["Succeeded"]},"metadata":{"operationMetadataId":"dffe39e6-0ee2-4057-95f8-92f475aa2672"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SharedMailboxSendEmailV2"},"parameters":{"emailMessage/MailboxAddress":"SAMPLE_EMAIL_HERE","emailMessage/To":"@triggerOutputs()?['body/Author/Email']","emailMessage/Subject":"@{triggerOutputs()?['body/Title']} Meeting Minutes [CUI]","emailMessage/Body":"<p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">CUI</strong></b></p><br><p class=\"editor-paragraph\">Here is a link to the meeting minutes<br><br><a href=\"@{body('Create_a_Microsoft_Word_document_with_the_given_content')}\" class=\"editor-link\">Click to Download</a></p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">This link is active only for a short period of time</strong></b></p><br><p class=\"editor-paragraph\">This activity used @{sub(variables('EndingToken'),variables('StartingToken'))} inference tokens</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">CUI</strong></b></p>","emailMessage/Sensitivity":"f02d78b0-b74f-43f0-801d-d7d5ec01d625","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@body('Get_attachments')","actions":{"Delete_attachment":{"runAfter":{},"metadata":{"operationMetadataId":"5681e54b-b973-4751-88d2-b8f0ba5de1af"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"DeleteAttachment"},"parameters":{"dataset":"https://armyeitaas.sharepoint-mil.us/teams/DASADESDTT","table":"ab741d80-5d0f-444c-a322-11e8107629be","itemId":"@outputs('Get_item')?['body/ID']","attachmentId":"@item()?['Id']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Update_item_3":["Succeeded"]},"metadata":{"operationMetadataId":"efc67774-61e8-4240-b776-a8ccf7350fb9"},"type":"Foreach"},"Initialize_Starting_Tokens":{"runAfter":{"Get_attachments":["Succeeded"]},"metadata":{"operationMetadataId":"f53fb524-741f-4046-b85b-32d8630d2a3f"},"type":"InitializeVariable","inputs":{"variables":[{"name":"StartingToken","type":"integer"}]}},"Initialize_Ending_Tokens":{"runAfter":{"Initialize_Starting_Tokens":["Succeeded"]},"metadata":{"operationMetadataId":"fff07974-cbd5-4d39-a8d9-90338510520a"},"type":"InitializeVariable","inputs":{"variables":[{"name":"EndingToken","type":"integer"}]}},"Get_an_access_token":{"runAfter":{"Init_FileDigestionResults":["Succeeded"]},"metadata":{"operationMetadataId":"342a7c88-beb6-4850-a16d-05e3f148b648"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_ask-20sage-20user-20api-5f300c65181a94d573-5f492dc771296d907d","connectionName":"shared_ask-20sage-20user-20api-5f300c65181a94d573-5f492dc771296d907d","operationId":"GetAccessToken"},"parameters":{"body/email":"thomas.a.cummings16.civ@army.mil"},"authentication":"@parameters('$authentication')"}},"Get_user_information":{"runAfter":{"Get_an_access_token":["Succeeded"]},"metadata":{"operationMetadataId":"6241a44a-f1d6-4257-8bf4-8c415033e96e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_ask-20sage-20admin-20api-5f300c65181a94d573-5f492dc771296d907d","connectionName":"shared_ask-20sage-20admin-20api-5f300c65181a94d573-5f492dc771296d907d","operationId":"AdminGetUserStats"},"parameters":{"x-access-tokens":"@outputs('Get_an_access_token')?['body/response/access_token']","body/email":"thomas.a.cummings16.civ@army.mil","body/limit":200},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"secureData":{"properties":["inputs"]}}},"For_each":{"foreach":"@outputs('Get_user_information')?['body/response']","actions":{"Set_variable":{"runAfter":{},"metadata":{"operationMetadataId":"243415cf-2445-40c5-8542-017939e63be0"},"type":"SetVariable","inputs":{"name":"StartingToken","value":"@items('For_each')?['total_tokens']"}}},"runAfter":{"Get_user_information":["Succeeded"]},"metadata":{"operationMetadataId":"9eaa9031-f44c-4c53-84d2-acde082c2c32"},"type":"Foreach"},"Get_user_information_1":{"runAfter":{"Query_An_Ask_Sage_Model_2":["Succeeded"]},"metadata":{"operationMetadataId":"5c6a66a2-ee12-4f9b-b684-2955977fc67b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_ask-20sage-20admin-20api-5f300c65181a94d573-5f492dc771296d907d","connectionName":"shared_ask-20sage-20admin-20api-5f300c65181a94d573-5f492dc771296d907d","operationId":"AdminGetUserStats"},"parameters":{"x-access-tokens":"@outputs('Get_an_access_token')?['body/response/access_token']","body/email":"thomas.a.cummings16.civ@army.mil","body/limit":200},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"secureData":{"properties":["inputs"]}}},"For_each_1":{"foreach":"@outputs('Get_user_information_1')?['body/response']","actions":{"Set_variable_1":{"runAfter":{},"metadata":{"operationMetadataId":"5165d5bd-b193-425e-bc49-ab195bef3edc"},"type":"SetVariable","inputs":{"name":"EndingToken","value":"@items('For_each_1')?['total_tokens']"}}},"runAfter":{"Get_user_information_1":["Succeeded"]},"metadata":{"operationMetadataId":"fa2f6c9c-e2f2-4473-9439-03d95bdb7dfb"},"type":"Foreach"}}},"connectionReferences":{"shared_office365":{"connectionName":"shared-office365-e3059a46-50d9-49bb-9726-f0f1-be04a115","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_sharepointonline":{"connectionName":"429e491556a0460a9138ecdfbd25754e","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_ask-20sage-20server-20api-5f300c65181a94d573-5f492dc771296d907d":{"connectionName":"a52fbe8beae34247b21cb70523b504a0","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_ask-20sage-20server-20api-5f300c65181a94d573-5f492dc771296d907d","tier":"NotSpecified","apiName":"ask-20sage-20server-20api-5f300c65181a94d573-5f492dc771296d907d","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_wordonlinebusiness":{"connectionName":"shared-wordonlinebus-196c23e5-2c8f-4cd4-8a09-838918314a8c","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_wordonlinebusiness","tier":"NotSpecified","apiName":"wordonlinebusiness","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_ask-20sage-20user-20api-5f300c65181a94d573-5f492dc771296d907d":{"connectionName":"345b03f1f8364895ad17f9512b256d04","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_ask-20sage-20user-20api-5f300c65181a94d573-5f492dc771296d907d","tier":"NotSpecified","apiName":"ask-20sage-20user-20api-5f300c65181a94d573-5f492dc771296d907d","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_ask-20sage-20admin-20api-5f300c65181a94d573-5f492dc771296d907d":{"connectionName":"b1c774ab6a264af1b630de21fa78daad","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_ask-20sage-20admin-20api-5f300c65181a94d573-5f492dc771296d907d","tier":"NotSpecified","apiName":"ask-20sage-20admin-20api-5f300c65181a94d573-5f492dc771296d907d","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}