SharePoint-Upload-to-AskSage/Microsoft.Flow/flows/aceddc68-6616-4e1d-aa5f-3c3d7bc07a5a/definition.json
{"name":"ab070cad-105f-4bf7-afa5-2d64498f7ba2","id":"/providers/Microsoft.Flow/flows/ab070cad-105f-4bf7-afa5-2d64498f7ba2","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Upload Sharepoint Location","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"f09b4662-553a-445e-89ea-16ed78cb7c10","type":"User","tenantId":"fae6d70f-954b-4811-92b6-0530d6f84c43"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-08-14T17:36:34.0017269Z","connectionKeySavedTimeKey":"2025-08-14T17:36:34.0017269Z","creationSource":null},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"5b6fed61-f33a-42bb-bf09-14a4ff3b48f4"},"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Get_files_(properties_only)":{"runAfter":{},"metadata":{"operationMetadataId":"fdf533c7-547e-4cc4-a20c-f84b0c875d07"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileItems"},"parameters":{"dataset":"https://armyeitaas.sharepoint-mil.us/sites/HQDA-CIO-SAIS-PRP","table":"82344b4c-8752-4e5a-8d5f-f2c787e18b06","viewScopeOption":"RecursiveAll"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":10000}}},"Apply_to_each":{"foreach":"@outputs('Get_files_(properties_only)')?['body/value']","actions":{"Get_file_content":{"runAfter":{},"metadata":{"operationMetadataId":"716684c6-c2fc-4f11-b9d9-d1fea7dabc0b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://armyeitaas.sharepoint-mil.us/sites/HQDA-CIO-SAIS-PRP","id":"@items('Apply_to_each')?['{Identifier}']","inferContentType":true},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Architecture":{"actions":{"Condition":{"actions":{"Trains_a_data_set_with_a_file":{"runAfter":{},"metadata":{"operationMetadataId":"cfd745d1-44cc-4878-8468-5aee890b975d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_ask-20sage-20server-20api-5f300c65181a94d573-5f492dc771296d907d","connectionName":"shared_ask-20sage-20server-20api-5f300c65181a94d573-5f492dc771296d907d","operationId":"TrainWithFile"},"parameters":{"file/body":"@body('Get_file_content')","file/fileName":"@items('Apply_to_each')?['{FilenameWithExtension}']","dataset":"user_custom_1006_CIO-Policy-Architecture_content"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"expression":{"contains":["@items('Apply_to_each')?['SubjectCategory/Value']","Architecture"]},"metadata":{"operationMetadataId":"c1ad4857-3614-4d12-8268-c5ba223242f7"},"type":"If"}},"runAfter":{"Get_file_content":["Succeeded","Failed","TimedOut"]},"metadata":{"operationMetadataId":"2b40577b-56a4-4dec-84dc-723690d07568"},"type":"Scope"},"Cat-magagement":{"actions":{"Condition_2":{"actions":{"Trains_a_data_set_with_a_file_2":{"runAfter":{},"metadata":{"operationMetadataId":"cfd745d1-44cc-4878-8468-5aee890b975d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_ask-20sage-20server-20api-5f300c65181a94d573-5f492dc771296d907d","connectionName":"shared_ask-20sage-20server-20api-5f300c65181a94d573-5f492dc771296d907d","operationId":"TrainWithFile"},"parameters":{"file/body":"@body('Get_file_content')","file/fileName":"@items('Apply_to_each')?['{FilenameWithExtension}']","dataset":"user_custom_1006_CIO-Policy-CatMgmtCE_content"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"expression":{"contains":["@items('Apply_to_each')?['SubjectCategory/Value']","Category Mgmt / Cost Efficiencies"]},"metadata":{"operationMetadataId":"c1ad4857-3614-4d12-8268-c5ba223242f7"},"type":"If"}},"runAfter":{"Architecture":["Succeeded","Failed","TimedOut"]},"metadata":{"operationMetadataId":"2b40577b-56a4-4dec-84dc-723690d07568"},"type":"Scope"},"Cloud":{"actions":{"Condition_3":{"actions":{"Trains_a_data_set_with_a_file_3":{"runAfter":{},"metadata":{"operationMetadataId":"cfd745d1-44cc-4878-8468-5aee890b975d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_ask-20sage-20server-20api-5f300c65181a94d573-5f492dc771296d907d","connectionName":"shared_ask-20sage-20server-20api-5f300c65181a94d573-5f492dc771296d907d","operationId":"TrainWithFile"},"parameters":{"file/body":"@body('Get_file_content')","file/fileName":"@items('Apply_to_each')?['{FilenameWithExtension}']","dataset":"user_custom_1006_CIO-Policy-CloudMgmt_content"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"expression":{"contains":["@items('Apply_to_each')?['SubjectCategory/Value']","Cloud Mgmt"]},"metadata":{"operationMetadataId":"c1ad4857-3614-4d12-8268-c5ba223242f7"},"type":"If"}},"runAfter":{"Cat-magagement":["Succeeded","Failed","TimedOut"]},"metadata":{"operationMetadataId":"2b40577b-56a4-4dec-84dc-723690d07568"},"type":"Scope"},"Cyber":{"actions":{"Condition_4":{"actions":{"Trains_a_data_set_with_a_file_4":{"runAfter":{},"metadata":{"operationMetadataId":"cfd745d1-44cc-4878-8468-5aee890b975d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_ask-20sage-20server-20api-5f300c65181a94d573-5f492dc771296d907d","connectionName":"shared_ask-20sage-20server-20api-5f300c65181a94d573-5f492dc771296d907d","operationId":"TrainWithFile"},"parameters":{"file/body":"@body('Get_file_content')","file/fileName":"@items('Apply_to_each')?['{FilenameWithExtension}']","dataset":"user_custom_1006_CIO-Policy-CyberSecurity_content"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"expression":{"contains":["@items('Apply_to_each')?['SubjectCategory/Value']","Cybersecurity"]},"metadata":{"operationMetadataId":"c1ad4857-3614-4d12-8268-c5ba223242f7"},"type":"If"}},"runAfter":{"Cloud":["Succeeded","TimedOut","Failed"]},"metadata":{"operationMetadataId":"2b40577b-56a4-4dec-84dc-723690d07568"},"type":"Scope"},"Data":{"actions":{"Condition_5":{"actions":{"Trains_a_data_set_with_a_file_5":{"runAfter":{},"metadata":{"operationMetadataId":"cfd745d1-44cc-4878-8468-5aee890b975d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_ask-20sage-20server-20api-5f300c65181a94d573-5f492dc771296d907d","connectionName":"shared_ask-20sage-20server-20api-5f300c65181a94d573-5f492dc771296d907d","operationId":"TrainWithFile"},"parameters":{"file/body":"@body('Get_file_content')","file/fileName":"@items('Apply_to_each')?['{FilenameWithExtension}']","dataset":"user_custom_1006_CIO-Policy-DataStandards_content"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"expression":{"contains":["@items('Apply_to_each')?['SubjectCategory/Value']","Data Standards"]},"metadata":{"operationMetadataId":"c1ad4857-3614-4d12-8268-c5ba223242f7"},"type":"If"}},"runAfter":{"Cyber":["Succeeded","TimedOut","Failed"]},"metadata":{"operationMetadataId":"2b40577b-56a4-4dec-84dc-723690d07568"},"type":"Scope"},"Governance":{"actions":{"Condition_6":{"actions":{"Trains_a_data_set_with_a_file_6":{"runAfter":{},"metadata":{"operationMetadataId":"cfd745d1-44cc-4878-8468-5aee890b975d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_ask-20sage-20server-20api-5f300c65181a94d573-5f492dc771296d907d","connectionName":"shared_ask-20sage-20server-20api-5f300c65181a94d573-5f492dc771296d907d","operationId":"TrainWithFile"},"parameters":{"file/body":"@body('Get_file_content')","file/fileName":"@items('Apply_to_each')?['{FilenameWithExtension}']","dataset":"user_custom_1006_CIO-Policy-Governance_content"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"expression":{"contains":["@items('Apply_to_each')?['SubjectCategory/Value']","Governance"]},"metadata":{"operationMetadataId":"c1ad4857-3614-4d12-8268-c5ba223242f7"},"type":"If"}},"runAfter":{"Data":["Succeeded","Failed","TimedOut"]},"metadata":{"operationMetadataId":"2b40577b-56a4-4dec-84dc-723690d07568"},"type":"Scope"},"HR_Policy":{"actions":{"Condition_7":{"actions":{"Trains_a_data_set_with_a_file_7":{"runAfter":{},"metadata":{"operationMetadataId":"cfd745d1-44cc-4878-8468-5aee890b975d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_ask-20sage-20server-20api-5f300c65181a94d573-5f492dc771296d907d","connectionName":"shared_ask-20sage-20server-20api-5f300c65181a94d573-5f492dc771296d907d","operationId":"TrainWithFile"},"parameters":{"file/body":"@body('Get_file_content')","file/fileName":"@items('Apply_to_each')?['{FilenameWithExtension}']","dataset":"user_custom_1006_CIO-Policy-HRPolicy_content"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"expression":{"contains":["@items('Apply_to_each')?['SubjectCategory/Value']","HR Policy"]},"metadata":{"operationMetadataId":"c1ad4857-3614-4d12-8268-c5ba223242f7"},"type":"If"}},"runAfter":{"Governance":["Succeeded","Failed","TimedOut"]},"metadata":{"operationMetadataId":"2b40577b-56a4-4dec-84dc-723690d07568"},"type":"Scope"},"Network_IT_SERVICES":{"actions":{"Condition_8":{"actions":{"Trains_a_data_set_with_a_file_8":{"runAfter":{},"metadata":{"operationMetadataId":"cfd745d1-44cc-4878-8468-5aee890b975d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_ask-20sage-20server-20api-5f300c65181a94d573-5f492dc771296d907d","connectionName":"shared_ask-20sage-20server-20api-5f300c65181a94d573-5f492dc771296d907d","operationId":"TrainWithFile"},"parameters":{"file/body":"@body('Get_file_content')","file/fileName":"@items('Apply_to_each')?['{FilenameWithExtension}']","dataset":"user_custom_1006_CIO-Policy-NetworkITServices_content"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"expression":{"contains":["@items('Apply_to_each')?['SubjectCategory/Value']","Networks / IT Services"]},"metadata":{"operationMetadataId":"c1ad4857-3614-4d12-8268-c5ba223242f7"},"type":"If"}},"runAfter":{"HR_Policy":["Succeeded","Failed","TimedOut"]},"metadata":{"operationMetadataId":"2b40577b-56a4-4dec-84dc-723690d07568"},"type":"Scope"},"IT_Procurement":{"actions":{"Condition_9":{"actions":{"Trains_a_data_set_with_a_file_9":{"runAfter":{},"metadata":{"operationMetadataId":"cfd745d1-44cc-4878-8468-5aee890b975d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_ask-20sage-20server-20api-5f300c65181a94d573-5f492dc771296d907d","connectionName":"shared_ask-20sage-20server-20api-5f300c65181a94d573-5f492dc771296d907d","operationId":"TrainWithFile"},"parameters":{"file/body":"@body('Get_file_content')","file/fileName":"@items('Apply_to_each')?['{FilenameWithExtension}']","dataset":"user_custom_1006_CIO-Policy-ResourcesITProc_content"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"expression":{"contains":["@items('Apply_to_each')?['SubjectCategory/Value']","Resources / IT Procurement"]},"metadata":{"operationMetadataId":"c1ad4857-3614-4d12-8268-c5ba223242f7"},"type":"If"}},"runAfter":{"Network_IT_SERVICES":["Succeeded","TimedOut","Failed"]},"metadata":{"operationMetadataId":"2b40577b-56a4-4dec-84dc-723690d07568"},"type":"Scope"},"Roles_and_Responsibilities":{"actions":{"Condition_10":{"actions":{"Trains_a_data_set_with_a_file_10":{"runAfter":{},"metadata":{"operationMetadataId":"cfd745d1-44cc-4878-8468-5aee890b975d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_ask-20sage-20server-20api-5f300c65181a94d573-5f492dc771296d907d","connectionName":"shared_ask-20sage-20server-20api-5f300c65181a94d573-5f492dc771296d907d","operationId":"TrainWithFile"},"parameters":{"file/body":"@body('Get_file_content')","file/fileName":"@items('Apply_to_each')?['{FilenameWithExtension}']","dataset":"user_custom_1006_CIO-Policy-ResourcesITProc_content"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"expression":{"contains":["@items('Apply_to_each')?['SubjectCategory/Value']","Roles and Responsibilities"]},"metadata":{"operationMetadataId":"c1ad4857-3614-4d12-8268-c5ba223242f7"},"type":"If"}},"runAfter":{"IT_Procurement":["Succeeded","Skipped","TimedOut"]},"metadata":{"operationMetadataId":"2b40577b-56a4-4dec-84dc-723690d07568"},"type":"Scope"},"Delay":{"runAfter":{"Roles_and_Responsibilities":["Succeeded","Failed","TimedOut"]},"metadata":{"operationMetadataId":"4638bf76-752e-4d12-a444-9320e42da31c"},"type":"Wait","inputs":{"interval":{"count":30,"unit":"Second"}}}},"runAfter":{"Get_files_(properties_only)":["Succeeded"]},"metadata":{"operationMetadataId":"0b064f8f-c640-4be4-b092-694a8d854ee7"},"type":"Foreach"}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"429e491556a0460a9138ecdfbd25754e","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_ask-20sage-20server-20api-5f300c65181a94d573-5f492dc771296d907d":{"connectionName":"a52fbe8beae34247b21cb70523b504a0","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_ask-20sage-20server-20api-5f300c65181a94d573-5f492dc771296d907d","tier":"NotSpecified","apiName":"ask-20sage-20server-20api-5f300c65181a94d573-5f492dc771296d907d","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}